<p><img id="bio_pic" src="{{ '/assets/images/bio_pic.jpg' | prepend: site.baseurl }}" alt="" /></p>
<p><a title="William Cutter CV" href="{{ '/assets/documents/CUTTER-CV-2014.pdf' | prepend: site.baseurl }}" target="_blank">Link to CV</a></p>
<p><a href="{{ '/assets/documents/CUTTER-recent-repertoire-2014.pdf' | prepend: site.baseurl }}">CUTTER recent repertoire 2014</a></p>
<p>
  <b>Dr. William Cutter</b> is Director of Choral Programs at the Massachusetts Institute of Technology 
  where he is conductor of the M.I.T. Concert Choir and Chamber Chorus. A member of the conducting and 
  theory faculty and former Director of Choral Studies at the Boston Conservatory, he currently teaches 
  courses in harmony and ear training, and is Artistic Director of the Boston Conservatory Summer Vocal/Choral 
  Intensive. He has also held academic posts at the Boston University School for the Arts, the University 
  of Lowell and the Walnut Hill School for the Arts.
</p>
<p>
  He served as music director and conductor of the Brookline Chorus, an auditioned community chorus of eighty 
  voices, for five seasons. and served as Chorus Master and Associate Conductor of the Boston Lyric Opera 
  Company from 2002-2007. For four summers he was conductor of the Boston University Young Artists Chorus of 
  the Tanglewood Institute, and was music director and conductor of the Opera Laboratory Theater Company, as 
  well as founder and music director of the vocal chamber ensemble CANTO which specialized in contemporary 
  choral music.
</p>
<p>
  As assistant to Maestro John Oliver for the Tanglewood Festival Chorus, he has prepared choruses for 
  John Williams and Keith Lockhart and the Boston Pops. In August 2002, Cutter prepared the Tanglewood 
  Festival Chorus for their performance of Beethoven&#8217;s Symphony #9 under the baton of Sir Roger Norrington. 
  During the summer of 2009, Cutter was chorus master for &#8220;Red Sox Album&#8221; CD recorded by the 
  Boston Pops. He also prepared backup singers for a concert with James Taylor at Tanglewood in August 2009 
  and August 2011. In 2010, Cutter prepared the women of the Tanglewood Festival Chorus for a performance of 
  Holst&#8217;s &#8220;The Planets&#8221; at Tanglewood under the baton of David Zinman. For the 2012-2013 
  season, Cutter was rehearsal conductor for the Tanglewood Festival Chorus in performances of Poulenc&#8217;s 
  &#8220;Stabat Mater&#8221;, Britten&#8217;s &#8220;War Requiem&#8221;, Verdi&#8217;s &#8220;Requiem&#8221; and 
  Haydn&#8217;s &#8220;Mass in Time of War&#8221;, all with the Boston Symphony Orchestra.
</p>
<p>
  Guest conducting appearances include the New England Conservatory Chamber Singers (2007),Chorus Pro Musica 
  in Boston (2010), chorus master for the Montreal Symphony Chorus preparing Haydn&#8217;s &#8220;Creation&#8221; 
  for Maestro Kent Nagano (2010) and the Boston Choral Ensemble where he conducted a program entitled 
  &#8220;Bang&#8221;, music for percussion and chorus, featuring works by Dominick Argento, Leonard Bernstein, 
  Peter Klatzow, and Timothy Takach (2011). His M.I.T. Chamber Chorus performed with the Kronos String Quartet 
  as well as the Bang on a Can All-Stars in a new version of Brian Eno&#8217;s &#8220;Music for Airports&#8221;. 
  In March of 2012, Cutter served as chorus master for a performance of Andrew Imbries &#8220;Songs of Then and Now&#8221; 
  with the Collage New Music Ensemble and women from the MIT Chamber Chorus.
</p>
<p>
  Dr. Cutter has also served on the faculty of the North Carolina Summer Institute of Choral Art and is in 
  demand as a guest conductor and adjudicator throughout the United States and Canada. In 2002, he was asked 
  to serve as a choral consultant for the Boston Symphony&#8217;s educational outreach program.
</p>
<p>
  With degrees in composition, Cutter maintains an active career as a composer with recent performances by the 
  The Chatham Chorale, the Illinois State University School of Music Orchestra, Cantata Singers, 
  PALS Children&#8217;s Chorus, Monmouth Civic Chorus, the New Jersey Gay Men&#8217;s Chorus, the Boston Pops, 
  the New World Chorale in Boston, Melodious Accord of New York City, and Opera Omaha.
</p>
<p>
  His music is published by E.C. Schirmer, Boston; Lawson and Gould, New York; Alfred Educational Publishers, 
  Los Angeles; Roger Dean Publishers, Wisconsin; Shawnee Press; Pennsylvania; and Warner/Chappell of Ontario, 
  Canada. His primary composition teachers included Pulitzer Prize winning composers David del Tredici and Bernard Rands.
</p>
<p>
  As a professional tenor, he has sung with the premiere vocal ensembles in Boston, including the Handel and Haydn 
  Society, Cantata Singers, Boston Baroque, Emmanuel Music, and the Harvard Glee Club. He has been a featured soloist 
  on the Cantata Singers Recital Series and has been a recitalist on the M.I.T. faculty performance series.
</p>