<header class="box" id="top" >
    <div style="float: left">
        <h1 class="title" style="line-height: 70px">William<span class="green">Cutter</span></h1>
    </div>
    <div id="titleright">composer<br>conductor<br>arranger</div>
    <div id="menu">
        <a href="{{ '/biography' | prepend: site.baseurl }}">Biography</a> &nbsp; 
        <a href="{{ '/music'  | prepend: site.baseurl }}">Music</a> &nbsp; 
        <a href="{{ '/media' | prepend: site.baseurl }}">Media</a> &nbsp; 
        <a href="{{ '/contact' | prepend: site.baseurl }}">Contact</a>
    </div>
</header>