<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>William Cutter - {{ page.title }}</title>
    <link rel="icon" href="data:,">
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | prepend: site.baseurl }}">
</head>

<body>
{% include header.html %}

<div class="box" id="main_contents">
    <div id="toppic">
        <img src="{{ '/assets/images/toppic01.png' | prepend: site.baseurl }}">
    </div>

    <div class="contentbox">
        <h1>{{ page.title }}</h1><hr>
        {{ content }}
    </div>
</div>

<footer id="footer_box" class="box">Copyright William Cutter {{ 'now' | date: "%Y" }}</footer>
            
</body>
</html>
